<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invalid confirmation code!</title>
    <style>
        h1 {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            margin-top: 10px;
            font-family: oswald, 'Roboto Thin',sans-serif;
            color: red;
        }
    </style>
</head>
<body>
<h1><b>Ви вже користувалися цим посиланням або такого користувача не існує! Будь ласка повторіть спробу!</b></h1>
</body>
</html>
